.blog {
  animation: fadeIn 6s linear;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  overflow: scroll;
  animation: fadeIn 1s linear;
}

.blog__item {
  border: 1px solid black;
  border-radius: 3px;
  width: 400px;
  margin: 20px;
  background-color: #3f3f3f;
  display: flex;
  height: 400px;
  box-shadow: inset 0 0 10px white;
  padding: 2px;
}

.blog__item-image {
  overflow: hidden;
  width: 150px;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.image__bill {
  background-image: url('http://www.fillmurray.com/200/300');
}

.image__bill2 {
  background-image: url('http://www.fillmurray.com/400/300');
}

.blog__item-main {
  margin: 10px;
  cursor: pointer;
  :hover {
    font-weight: 800;
  }
}

.blog__item-title {
  font-family: 'Ubuntu', sans-serif;
  border-bottom: 1px solid white;
  font-size: 26px;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.blog__item-summary {
  font-size: 20px;
}

.blog__item-footer {
  font-size: 20px;
}

.blog__item-content {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blog__item-footer {
  margin: 10px;
  display: flex;
  flex-direction: column;
}
