.header-container {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  animation: fadeIn 4s linear;
}

.navigation {
  text-align: left;
  color: white;
  display: flex;
  flex-direction: row;
  padding: 0;
  align-items: center;
  height: 130px;
  margin: 0;
  li {
    text-decoration: none;
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
    cursor: pointer;
  }
  span {
    font-size: 24px;
  }
  a {
    text-decoration: inherit;
    color: inherit;
  }
}

.header-container {
  img {
    height: 100px;
    width: 100px;
    border: 1px solid white;
    border-radius: 50%;
  }
}
