body {
  margin: 0;
}

.App {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  background-color: black; 
  height: 100vh;
  flex-direction: column; 
}

img {
  width: 350px;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  background-color: #161616;
}

.img__wrapper {
  position: absolute;
  border-top: 2px solid white;
  border-left: 1px solid white;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-left: -175px;
  margin-top: -175px;
  animation: loader 2s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.under_construction {
  color: white;
  position: absolute;
  bottom: 5%;
  font-family: verdana;
  text-transform: uppercase;
  font-size: 12px;
  border-bottom: 1px solid white;
  left: 50%;
  margin-left: -75px;
  width: 150px;
  text-align: center;
}

@media screen and (max-width: 480px) {
  img, .img__wrapper {
    width: 200px;
    height: 200px;
  }

  .img__wrapper {
    margin-left: -100px;
    margin-top: -100px;
  }

}