body {
  margin: 0;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
}

img {
  border-radius: 50%;
  border-width: 10px;
  border-color: white;
  border-style: solid;
}